$margin-top: 30px;
$border-radius: 0px;
$background-color: #eee;

#dashboard-main {
  margin-top: $margin-top;
  width: 100%;
  background-color: $background-color;
  border-radius: $border-radius;

  h2 {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

#dashboard-side {
  margin-top: $margin-top;
  width: 100%;
  background-color: $background-color;
  border-radius: $border-radius;
}
.dashboard-box {
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.dashboard-button {
  margin-right: auto;
  margin-left: auto;
}
